:host {
  ::ng-deep .p-button.p-button-custom {
    background: var(--custom-bg);
    border-color: var(--custom-bg);
    font-family: var(--font-encode-sans);
    font-size: var(--font-weight-light);

    color: #ffffff;
    &:hover {
      background: color-mix(in srgb, var(--custom-bg) 90%, black);
      border-color: color-mix(in srgb, var(--custom-bg) 90%, black);
    }

    &:active {
      background: color-mix(in srgb, var(--custom-bg) 80%, black);
      border-color: color-mix(in srgb, var(--custom-bg) 80%, black);
    }
  }
}
