<section class="costos-container">
  <header class="costos-header">
    <h2 class="costos-title">Parte 3: Costos</h2>
  </header>

  <nav class="costos-nav">
    @for (link of costoLinks; track link.route; let isLast = $last) {
      <a
        [routerLink]="link.route"
        routerLinkActive="costos-nav_link-active"
        class="costos-nav_link">
        {{ link.label }}
      </a>

      @if (!isLast) {
        <span class="costos-nav_separator">|</span>
      }
    }
  </nav>

  <div class="costos-content">
    <router-outlet></router-outlet>
  </div>
</section>
