<nav>
  <ul>
    <li><a routerLink="/idea">Idea</a></li>
    <li><a routerLink="/objetivo">Objetivo</a></li>
    <li><a routerLink="/costos">Costos</a></li>
    <li><a> Pon en marcha </a></li>
  </ul>

  <div style="margin-top: 10px">
    @if(userName()){
    <p>👤 {{ userName() }}</p>
    @defer(on viewport; prefetch on idle; hydrate on hover){
    <mg-button
      label="🔓 Cerrar sesión"
      [loading]="isLoading()"
      (click)="logout()"
      [fluid]="false"
    />
    }@placeholder{
    <mg-button label="🔓 Cerrar sesión" />
    } } @else {
    <mg-button label="Inicio de Sesion" routerLink="/login" [fluid]="false" />
    <mg-button label="Registrarse" routerLink="/signup" [fluid]="false" />
    }
  </div>
</nav>
