<nav>
  <ul>
    @for(link of links; track $index){
    <li><a routerLink="{{link.route}}">{{link.label}}</a></li>
    }
  </ul>

  <div style="margin-top: 10px">
    @if(userName()){
    <p>👤 {{ userName() }}</p>
    @defer(on viewport; prefetch on idle; hydrate on hover){
    <mg-button
      label="🔓 Cerrar sesión"
      [loading]="isLoading()"
      (click)="logout()"
      [fluid]="false"
    />
    }@placeholder{
    <mg-button label="🔓 Cerrar sesión" />
    } } @else {
    <mg-button label="Inicio de Sesion" routerLink="/login" [fluid]="false" />
    <mg-button label="Registrarse" routerLink="/signup" [fluid]="false" />
    }
  </div>
</nav>
