<p-floatlabel variant="on">
  <p-password
    [inputId]="finalId()"
    [ngModel]="value()"
    (ngModelChange)="onValueChange($event)"
    (onBlur)="handleBlur()"
    [disabled]="disabled()"
    [invalid]="invalid()"
    [fluid]="fluid()"
    [toggleMask]="true"
    placeholder=" "
    [feedback]="showMeter()"
    [showClear]="showClear()"
    [promptLabel]="promptLabel()"
    [weakLabel]="weakLabel()"
    [mediumLabel]="mediumLabel()"
    [strongLabel]="strongLabel()"
  />

  <label [for]="finalId()">{{ label() }}</label>
</p-floatlabel>
