/* HTML: <div class="loader"></div> */
.loader {
  color: #000;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow:
    19px 0 0 6px,
    39px 0 0 6px,
    57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.4s infinite alternate linear;
}

@keyframes l21 {
  100% {
    box-shadow:
      19px 0 0 0px,
      39px 0 0 0px,
      57px 0 0 6px;
  }
}
