<p-floatlabel
  variant="on"
  [style.--p-floatlabel-color]="labelColor()"
  [style.--p-floatlabel-focus-color]="activeLabelColor()"
  [style.--p-floatlabel-active-color]="activeLabelColor()"
>
  <input
    pInputText
    [id]="finalId()"
    [type]="type()"
    [value]="value()"
    (input)="onValueChange($event)"
    (blur)="handleBlur()"
    [disabled]="disabled()"
    [autocomplete]="autocomplete()"
    placeholder=" "
    [variant]="variant()"
    [fluid]="fluid()"
    [invalid]="invalid()"
  />

  <label [for]="finalId()">{{ label() }}</label>
</p-floatlabel>

@if (invalid() && errorMessage()) {
<p-message severity="error" size="small" variant="simple">
  {{ errorMessage() }}
</p-message>
}
