<div class="costos-container">
  <h2>Costos Indirectos</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="indirectos-form">
    <div formArrayName="indirectos" class="items-list">
      @for (ind of indirectos.controls; track ind; let i = $index) {

      <div [formGroupName]="i" class="item-card">
        <div class="item-header">
          <h4>Ítem #{{ i + 1 }}</h4>
          <mg-button
            icon="pi pi-trash"
            severity="danger"
            [fluid]="false"
            (onClick)="removeIndirecto(i)"
          />
        </div>

        <div class="item-grid">
          <div class="full-width">
            <mg-input
              label="Descripción"
              formControlName="descripcion"
              [fluid]="true"
            />
          </div>

          <mg-input
            label="Costo Mensual"
            formControlName="costoMensual"
            type="number"
            [fluid]="true"
          />

          <mg-input
            label="Días Calc."
            formControlName="diasCalculados"
            type="number"
            [fluid]="true"
          />

          <mg-input
            label="Horas Req."
            formControlName="horasRequeridas"
            type="number"
            [fluid]="true"
          />

          <mg-input
            label="Costo/Día"
            formControlName="costoPorDia"
            type="number"
            [fluid]="true"
          />
          <mg-input
            label="Costo/Hora"
            formControlName="costoPorHora"
            type="number"
            [fluid]="true"
          />
          <mg-input
            label="Costo Neto"
            formControlName="costoNeto"
            type="number"
            [fluid]="true"
          />
        </div>
      </div>
      }
    </div>

    <div class="actions-bar">
      <mg-button
        label="+ Agregar Ítem"
        severity="secondary"
        [fluid]="false"
        [buttonProps]="{ type: 'button' }"
        (onClick)="addIndirecto()"
      />

      <mg-button
        label="Guardar y Continuar"
        [loading]="isLoading()"
        [disabled]="form.invalid || isLoading()"
        [buttonProps]="{ type: 'submit' }"
        [fluid]="false"
      />
    </div>
  </form>

  <div class="resumen-card">
    <h3>Resumen de Totales</h3>
    <div class="resumen-grid">
      <div class="resumen-item">
        <span>Total Mensual</span>
        <strong>{{ totalCostoMensual | number: '1.2-2' }} Bs</strong>
      </div>
      <div class="resumen-item">
        <span>Total Neto</span>
        <strong class="highlight"
          >{{ totalCostoNeto | number: '1.2-2' }} Bs</strong
        >
      </div>
    </div>
  </div>
</div>
