@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-encode-sans: 'Encode Sans', sans-serif;

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  // primarios
  --black: #000000;
  --white: #ffffff;

  // botones
  --amarillo-tenue: #FDE992;
  --amarillo: #FFD324;
  --violeta: #714791;
  --rojo: #ED1E24;

  // Rojo amarillo azul y violeta
  --rojo-medio: #9F0026;
  --rojo-tenue: #CA0032;
  --rojo-oscuro: #5C0017;

  --verde-oscuro: #39541D;
  --verde-medio: #4C7026;
  --verde-claro: #39551C;

  // agregar otros aca abajo akdjs

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
